/*----------------Smooth scrolling ------------------------*/
window.scroll({
  top: 2500, 
  left: 0, 
  behavior: 'smooth' 
});

// Scroll certain amounts from current position 
window.scrollBy({ 
  top: 100, // could be negative value
  left: 0, 
  behavior: 'smooth' 
});

// Scroll to a certain element
document.querySelector('.hello').scrollIntoView({ 
  behavior: 'smooth' 
});

/*----------------END smooth scrolling ------------------------*/


*
{
	margin: 0;
	padding: 0;
}

.row
{
    max-width: 1140px;
    margin: auto;
}

body
{
	font-family: tahoma;
}

.hero
{
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
header
{
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/business.jpg);  
    /* linear gradiant for getting the background a little darker */ 
	height: 100vh; /* vh - vertical head */
    background-position: center; /* this and nxt line for bg setting */
    background-size: cover;
    background-attachment:fixed;
}

h1
{
    color: white;
}

.main-nav /* main navigation styling */
{
    list-style: none;
    float: right;
    margin-top: 60px;
    font-family: Helvetica;
}

.main-nav li /* for getting all nav bar in one line */
{
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    font-size: 90%;
    font-weight: bold;
}

.main-nav li a:hover /* if you hover over nav bar */
{
    color: #e67e22;
    border-bottom: 2px solid #e67e22; /* add a border when hover */
    transition: all 0.5s ease-in; /* transition */
    padding: 10px 0; 
}

.logo img
{
    height: 100px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.btn 
{
    border: 1px solid #e67e22;
    padding: 10px 30px ;/* top-bottom left-right */
    color: #e67e22;
    text-decoration: none;
    border-radius: 12px;
    margin-right: 15px;
}

.but-awe
{
    margin-top: 40px;
}

.btn-half
{
    background-color: #e67e22;
    color: white;
}

.btn-full:hover
{
    background-color: #e67e22;
    color: white;
    transition: all 0.5s ease-in;
}


.copy
{
    width: 70%; /* responsive */
    margin-left: 15%;
    margin-bottom: 20px;
}

/* pseudo class 

just after the "get more money a colored line appears
that is what pseudo class below is used for 
*/
h3:after
{
    width: 100px;
    height: 2px;
    background-color: #e67e22;
    display: block;
    content: " ";
    margin: auto;
    margin-top: 30px;
}

.features h3
{
    margin-top: 80px;
    margin-bottom: 30px;
}

.arranged
{
    text-align: justify;
}

.features i
{
    font-size: 20px;
    color: #e67e22;
    margin-left: 50%;
}

.features h4
{
    margin-left: 40%;
}


/*---------------------meal section ------------------*/
.meal-showcase
{
    list-style: none;
    width: 100%;
}

.meal-showcase li
{
    display: block;
    width: 25%;
    float: left;
    
}

.meal-photo
{
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.meal-photo img
{
    height: 100%;
    width: 100%;
    height: auto;
    transform: scale(1.15); 
    transition: all 0.5s; 
}

.meal-photo img:hover
{
    transform: scale(1.05); 
    
}

.meal
{
    margin-top: 80px;  
}

/* ------------------------ MOBILE ----------------------*/

.pic img
{
    width: 100%;
    margin-left: 20%;
    
    margin-top: 10%;
}

.works-step
{
    margin-top: 50px;
    
}

.works-step div
{
    border: 1px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.works-step img
{
    height: 50px;
    margin-top: 20px;
    margin-right: 20px;
}

.clearfix
{
    zoom:1;
}

.clearflix:after
{
    visibility: hidden;
    content: ".";
    height: 0;
    display: block;
    clear: both;
}
.mobile
{
    margin-top: 60px;
}
/* ------------------------ CITIES ----------------------*/
.city
{
    margin-top: 100px;
}

.city img
{
    width: 100%;
    margin-top: 50px;
}

.city i
{
    color: #e67e22;
}
/* ------------------------ testimonials-------------------*/
.testi
{
    margin-top: 80px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/business1.jpg);
    padding-top: 80px;
    padding-bottom: 60px;
    color: white;
    background-attachment: fixed;
}

.testi p
{
    color: white;
    line-height: 25px;
    text-align: justify;
    font-size: 16px;
    margin-top: 40px;
}

.testi cite img
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 20px;
}

/* ------------------------ FORM --------------------------*/

.btn-block
{
    background-color: #e67e22;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
}

.gap
{
    margin-top: 40px;
}

.form
{
    margin-top: 40px;
    margin-bottom: 75px;
}